body {
	background-color:#000000;
	color:#f4f4f4;
	text-align:center;
}

button{
	background-color:#e7e7e7;
	color:black;
	text-align:center;
	border:none;
	font-family:"Lucida Console";
	padding:5px;
	margin:5px;
}

button:hover{
	background-color:#555555;
	color:white;
}

#game{

}

span{
	background-color:white;
	color:black;
	border: 1px solid black;
	padding:5px;
	margin:25px;
	position:relative;
}