body {
    background-color:#1e1e1e;
    color:white;
    font-family: Verdana,Geneva,sans-serif;
}

button {
    border-radius:4px;
    background-color:grey;
    border-color:white;
    padding:5px 10px 5px 10px;
    font-size:15px;
    font-weight:bold;
}

.floater{
    float:left;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.cardList{
    border-spacing: 5px;
    text-align: left;
}

th, td {
    padding: 5px;
}
.hidden{
    visibility:hidden;
}

#searchArea{
    float:left;
    border: 1px solid white;
}
#deckArea{
    border: 1px solid white;
    float:left;
}